<div style="background: url('/images/hero-image-bg.8efacbde.svg'), linear-gradient(5deg, rgb(41, 143, 194), rgb(37, 189, 89)); color: #fff;">
    <div class="d-flex justify-center flex-column pt-6 pb-6">
        <div class="d-inline-flex align-self-center">
            <MudText Typo="Typo.h2" Color="Color.Surface" Inline="true">Publishing</MudText>
            <MudText Typo="Typo.h2" Color="Color.Primary" Inline="true">Queue</MudText>
        </div>
        <MudText Typo="Typo.h6" Color="Color.Surface" Class="align-self-center my-4">Blazing fast, like it should have been...</MudText>
    </div>
</div>